[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
autopep8 = "*"
pylint = "*"
pytest-django = "*"
mixer = "*"

[requires]
python_version = "3.9"
