body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}


/* Login */
#login-container {
  background-image: url("assets/logo_muted.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 80%;
}

/* Home Page */
#home-container {
  min-height: 400px;
}

#home-title-container {
  position: relative;
  display: grid;
  place-items: center;
  
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
  font-weight: bold;
}

#home-title-container h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 3.5rem;
  font-weight: bold;
  color: black;

  position: relative;
  left: 50px;
  bottom: 50px;
}

#home-logo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 90%;
  z-index: -5;
  
  background-image: url("assets/guitar.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


/* Custom bootstrap classes */
@media (min-width: 768px) and (max-width: 992px) {
  .border-left-md-0 {
    border-left: none !important;
  }
  .border-right-md-0 {
    border-right: none !important;
  }
}

@media (min-width: 992px) {
  .border-left-lg-0 {
    border-left: none !important;
  }
  .border-right-lg-0 {
    border-right: none !important;
  }
}