body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}


#login-container {
  background-image: url("assets/logo_muted.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 80%;
}

#home-container {
  min-height: 400px;
}

#home-title-container {
  position: relative;
  display: grid;
  place-items: center;
  
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
  font-weight: bold;
}

#home-title-container h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 3.5rem;
  font-weight: bold;
}

#home-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  z-index: -5;
  
  background-image: url("assets/logo_muted.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}